{% extends "base_store.html" %}


{#{% block page_title %}#}
{#    <h2 class="text-3xl font-bold mb-4">#}
{#        {{ product.title }}#}
{#    </h2>#}
{#{% endblock page_title %}#}

{% block page_content %}

<div class="flex flex-col mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">{{ product.title }}</h1>

  <div class="flex items-center mb-4">
    <span class="text-gray-500 mr-2">Brand:</span>
    <span class="text-gray-700 font-medium">{{ brand.title }}</span>
  </div>

  <div class="flex items-center mb-4">
    <span class="text-gray-500 mr-2">Categories:</span>
    <ul class="list-none flex flex-wrap">
      {% for category in categories %}
        {% if category.slug %}
          <li class="mr-2"><a href="{% url 'category_detail' category.slug %}" class="text-blue-500 hover:text-blue-700">{{ category.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="container mx-auto">
    <div class="grid grid-cols-3 gap-4">
    {% for media in media_files %}
{#      {% with format=formats.getmedia.id|default:'' %}#}
        {% if media.media_type.lower == 'image' %}
            <img class="w-full object-cover" src="{{ media.file.url }}" alt="Image">
        {% elif media.media_type.lower == 'video' %}
          <video class="w-full" controls>
            <source src="{{ media.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        {% else %}
          <p>Unsupported media type: {{ media.file.name }}</p>
        {% endif %}
{#      {% endwith %}#}
    {% endfor %}
    </div>
    </div>
  <div class="mb-8">
    <p class="text-gray-700 mb-2">Description:</p>
    <p class="text-gray-600">{{ product.description }}</p>
  </div>

  <div class="flex items-center mb-4">
    <span class="text-gray-500 mr-2">Price:</span>
    <span class="text-gray-700 font-medium">{{ product.price }}</span>
  </div>

  <div class="flex items-center mb-4">
    <span class="text-gray-500 mr-2">Stock:</span>
    <span class="text-gray-700 font-medium">{{ product.stock }}</span>
  </div>

  <h2>Add to Bucket</h2>
{#    <form action="{% url 'add_to_bucket' product.id %}" method="post" class="flex items-center mt-5">#}
    <form action="" method="post" class="flex items-center mt-5">
        {% csrf_token %}
        <div class="mr-3">
{#            <label for="quantity" class="block text-gray-700 mb-2">Quantity:</label>#}
            <input type="number" id="quantity" name="quantity" min="1" max="{{ product.stock }}" class="border rounded-md p-2 text-gray-700 w-20 outline-none">
        </div>
        <br>
        <button type="submit" class="bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-700 disabled:opacity-50">Add to Bucket</button>
    </form>
    <br>
<hr>
    <br>
  <h2 class="text-2xl font-bold mb-4">Comments</h2>
 <br>
    <h3>Leave a comment:</h3>
    <form method="post" class="comment-form">
        {% csrf_token %}
        <fieldset class="author-field">
            <label for="id_author">Your Name (required):</label>
            <input type="text" name="author" id="id_author" placeholder="Enter your name" required>
        </fieldset>
        <fieldset class="body-field">
            <label for="id_body">Comment (required):</label>
            <textarea name="body" id="id_body" rows="4" placeholder="Share your thoughts..." required></textarea>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
    <br>
{#    <h3>Comments:</h3>#}

  {% if comments %}
    <ul class="list-none">
      <div class="flex flex-col gap-4">
        {% for comment in comments %}
            <div class="border rounded p-3 mb-4">
                <p>
                    <span class="font-bold text-blue-500">{{ comment.user }}</span> on {{ comment.created_at.date }} wrote:
                </p>
                <p>{{ comment.content | linebreaks }}</p>
            </div>
        {% endfor %}
        </div>
    </ul>
  {% else %}
    <p class="text-gray-500 text-center">No comments yet.</p>
  {% endif %}
</div>


{% endblock page_content %}
