{% load static %}
<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Toy Store</title>
{#    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">#}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
</head>
<body>
    <div class="container mx-auto">
{#        <header class="mb-4">#}
{#            <nav class="inline-flex items-center space-x-4 mr-auto ml-auto">#}
{#                <h1 class="text-4xl font-bold mb-4">Toy Store</h1>#}
{#                <a href="{% url "blog:blog_index" %}" class="text-blue-500 hover:text-blue-700">Blog</a>#}
{#                <a href="{% url "store:store_index" %}" class="text-blue-500 hover:text-blue-700">Store</a>#}
{#                <a href="{% url "cart:cart_detail" %}" class="text-white bg-blue-500 hover:text-blue-700 px-3 py-2 rounded-md font-medium">Cart</a>#}
{#            </nav>#}
{#            <nav class="inline-flex items-center justify-end">#}
{#              {% if request.user.is_authenticated %}#}
{#                <a href="{% url 'auth:logout' %}" class="text-white bg-yellow-500 hover:bg-yellow-700 px-3 py-2 rounded-md font-medium">Logout</a>#}
{#              {% endif %}#}
{#            </nav>#}
{#        </header>#}
        <div class="container mx-auto">
          <header class="mb-4 flex items-center justify-between"> <nav class="inline-flex items-center space-x-4"> <h1 class="text-4xl font-bold mb-4">Toy Store</h1>
              <a href="{% url "blog:blog_index" %}" class="text-blue-500 hover:text-blue-700">Blog</a>
              <a href="{% url "store:store_index" %}" class="text-blue-500 hover:text-blue-700">Store</a>
              <a href="{% url "cart:cart_detail" %}" class="text-blue-500 hover:text-blue-700">Cart</a>
{#              <a href="{% url "cart:cart_detail" %}" class="text-white bg-blue-500 hover:text-blue-700 px-3 py-2 rounded-md font-medium">Cart</a>#}
            </nav>

            <nav class="ml-auto">
              {% if request.user.is_authenticated %}
                <a href="{% url 'auth:logout' %}" class="text-white bg-yellow-500 hover:bg-yellow-700 px-3 py-2 rounded-md font-medium">Logout</a>
              {% endif %}
            </nav>

            <hr>
          </header>
        </div>


        <main class="mt-4">
            {% block page_title %}{% endblock page_title %}
            {% block page_content %}{% endblock page_content %}
{#            {% block page_code %}{% endblock page_code %}#}
        </main>
        {% block messages %}
            <div id="messages" class="fixed bottom-0 right-0 z-50 flex items-center justify-center w-full h-12 px-4 bg-green-500 text-white rounded-t-md">
                <ul class="list-disc">
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
                </ul>
            </div>
        {% endblock messages %}
    </div>
    {% block page_code %}
        <script>
            window.addEventListener('DOMContentLoaded', () => {
              const messageContainer = document.getElementById('messages');

              if (messageContainer) {
                const latestMessage = document.querySelector('#messages li:last-child');

                if (!latestMessage) {
                  messageContainer.classList.add('hidden'); // Hide if no messages
                } else {
                  // Show and fade-out the latest message
                  messageContainer.classList.remove('hidden');
                  messageContainer.classList.add('fade-in'); // Add fade-in for initial display

                  setTimeout(() => {
                    messageContainer.classList.remove('fade-in');
                    messageContainer.classList.add('fade-out'); // Fade-out after 3 seconds
                  }, 3000);
                }
              }
            });
            {#const messageContainer = document.getElementById('messages');#}
            {#console.log('hello to you!')#}
            {#if (messageContainer) {#}
            {#  const latestMessage = document.querySelector('#messages li:last-child');#}
            {##}
            {#  if (!latestMessage) {#}
            {#    messageContainer.classList.add('hidden');#}
            {#  } else {#}
            {#    // Remove previous content before displaying the latest message#}
            {#    messageContainer.classList.remove('hidden');#}
            {#    messageContainer.classList.add('fade-in');#}
            {#    messageContainer.innerHTML = '';#}
            {#    messageContainer.appendChild(latestMessage);#}
            {##}
            {#    setTimeout(() => {#}
            {#      messageContainer.classList.remove('fade-in');#}
            {#      messageContainer.classList.add('fade-out');#}
            {#      messageContainer.classList.add('hidden');#}
            {#    }, 3000); // Timeout after 3 seconds#}
            {#  }#}

        </script>
    {% endblock page_code %}
</body>
</html>